Hi, welcome to my website. I’m interested in programming, tinkering with
hardware and playing tabletop games.

## Recent Posts

$for(posts)$
- _$posts.date$_    [$posts.title$]($posts.html$)
$endfor$
