html {
    font-family: "Inconsolata", monospace;
    font-size: 19px;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
}

body {
    margin: 0;
}

.navbar {
    margin: 0;
    padding: 2em;
    background: #f7f7f7;
    display: flex;
    justify-content: space-evenly;
}

#navtitle a {
    text-decoration: none;
}

#navlinks a {
    margin-left: 2em;
    text-decoration: none;
}

.container {
    margin-top: 4em;
    display: flex;
    justify-content: center;
}

.content {
    padding-left: 1em;
    padding-right: 1em;
    box-sizing: border-box;
    max-width: 700px;
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

code {
    margin: 0;
    font-size: .85em;
    background:rgba(0,0,0,.03);
    border-radius: 3px;
    line-height: 24px;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 700px;
}

pre code {
    display:block;
    white-space:pre-wrap
}
pre code {
    display:block;
    padding:12px 18px;
    margin:0;
    background-color:rgba(0,0,0,.02)
}
